/* login.css */

/* Container for the entire login component */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

/* Form container styling */
.login-form {
  background-color: white;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Title of the form */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

/* Styling for the labels */
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

/* Styling for the inputs */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Focus state for inputs */
.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

/* Button styling */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover state for button */
.login-button:hover {
  background-color: #0056b3;
}

/* Logged-in message styling */
.login-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  text-align: center;
}
.toggle-message {
  text-align: center;
  margin-top: 10px;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
}

.toggle-link:hover {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 480px) {
  .login-form {
    padding: 1.5rem;
    max-width: 90%;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .form-input {
    padding: 0.7rem;
  }

  .login-button {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}
